@font-face {
    font-family: "Monstserrat-Regular";
    src: url("/fonts/Monstserrat-Regular.woff") format("woff");
   
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto-Regular.woff") format("woff");
   
}
@font-face {
    font-family: "Motserrat-Light";
    src: url("/fonts/Motserrat-Light.woff") format("woff");
   
}
@font-face {
    font-family: "HelveticaNeueLTProRoman";
    src: url("/fonts/HelveticaNeueLTProRoman.woff") format("woff");
   
}
@font-face {
    font-family: "HelveticaNeueLTProMd";
    src: url("/fonts/HelveticaNeueLTProMd.woff") format("woff");
   
}
@font-face {
    font-family: "HelveticaNeueLTProLt";
    src: url("/fonts/HelveticaNeueLTProLt.woff") format("woff");
   
}
